[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = AWS Auto Scaling Fleets
[access "refs/*"]
	owner = group user/Jacob Burroughs (maths22)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jacob Burroughs (maths22)
	label-Verified = -1..+1 group user/Jacob Burroughs (maths22)
	push = group user/Jacob Burroughs (maths22)
	read = group user/Jacob Burroughs (maths22)
	rebase = group user/Jacob Burroughs (maths22)
	removeReviewer = group user/Jacob Burroughs (maths22)
	submit = group user/Jacob Burroughs (maths22)
[access "refs/heads/*"]
	create = group user/Jacob Burroughs (maths22)
	push = +force group user/Jacob Burroughs (maths22)
	pushMerge = group user/Jacob Burroughs (maths22)
	read = group user/Jacob Burroughs (maths22)
[access "refs/tags/*"]
	push = group user/Jacob Burroughs (maths22)
	push = +force group user/Jacob Burroughs (maths22)
